*{
  margin: 0;
  color: white;
}

header{
  padding:1rem 3rem;
  min-height: 3rem;
  display: flex;
  justify-content: end;
  gap: 5rem;
  background-color: rgb(18, 22, 70);
  border-bottom: 1px solid white;

}

main {
  background-color: rgb(18, 22, 70);
}

.main-center{
  margin: 0 auto;
  padding: 6rem 2rem;
  width: 90%;
  min-height: 100vh;
}

.profile{
  width: 45rem;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  border: 1px solid red;
}

.profile div{
  margin-right: 2rem;
  padding: 1rem;
}

.profile img {
  max-height: 20rem;
}


.game-project-cont, .web-project-cont{
  padding: 2rem;
  border: 1px solid grey;
}

.project-card{
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  border: 1px solid green;

  cursor:pointer;
}

.project-link-cont{
  min-width: 6rem;
  display: flex;
  justify-content: space-between;
}
