*{
  margin: 0;
}

header{
  background-color: red;
  height: 3rem;
}

.main-center{
  margin: 0 auto;
  width: 90%;
  min-height: 100vh;
  padding: 2rem;
  border: 1px solid blue;
}

.profile{
  width: 30rem;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  border: 1px solid red;
}

.game-project-cont, .web-project-cont{
  padding: 2rem;
  border: 1px solid grey;
}

.project-card{
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  border: 1px solid green;

  cursor:pointer;
}

.project-link-cont{
  min-width: 6rem;
  display: flex;
  justify-content: space-between;
}
